:root {
  // base color
  --primary-hue: 23deg;
  --primary-saturation: 90%;
  --primary-lightness: 54%;

  // light colors
  --color-primary-light: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
  --color-text1-light: hsl(var(--primary-hue), 4%, 4%);
  --color-text2-light: hsl(var(--primary-hue), 8%, 40%);
  --color-surface1-light: hsl(var(--primary-hue), 0%, 100%);
  --color-surface2-light: hsl(var(--primary-hue), 4%, 96%);
  --color-surface3-light: hsl(var(--primary-hue), 8%, 92%);
  --color-surface4-light: hsl(var(--primary-hue), 12%, 88%);
  --surface-shadow-light: var(--color-surface4-light);
  --shadow-strength-light: 0.02;
  --color-red-light: hsl(353deg, var(--primary-saturation), var(--primary-lightness));
  --color-blue-light: hsl(213deg, var(--primary-saturation), 44%);

  // dark colors
  --color-primary-dark: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
  --color-text1-dark: hsl(var(--primary-hue), 4%, 96%);
  --color-text2-dark: hsl(var(--primary-hue), 8%, 80%);
  --color-surface1-dark: hsl(var(--primary-hue), 1%, 12%);
  --color-surface2-dark: hsl(var(--primary-hue), 4%, 20%);
  --color-surface3-dark: hsl(var(--primary-hue), 8%, 28%);
  --color-surface4-dark: hsl(var(--primary-hue), 12%, 36%);
  --surface-shadow-dark: var(--primary-hue), 30%, 13%;
  --shadow-strength-dark: 0.2;
  --color-red-dark: hsl(353deg, calc(var(--primary-saturation) / 1.25), calc(var(--primary-lightness) / 1.25));
  --color-blue-dark: hsl(213deg, calc(var(--primary-saturation) * 1.5), 75%);

  color-scheme: light;

  --color-primary: var(--color-primary-light);
  --color-text1: var(--color-text1-light);
  --color-text2: var(--color-text2-light);
  --color-surface1: var(--color-surface1-light);
  --color-surface2: var(--color-surface2-light);
  --color-surface3: var(--color-surface3-light);
  --color-surface4: var(--color-surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --color-red: var(--color-red-light);
  --color-blue: var(--color-blue-light);
  --color-link: var(--color-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --color-primary: var(--color-primary-dark);
    --color-text1: var(--color-text1-dark);
    --color-text2: var(--color-text2-dark);
    --color-surface1: var(--color-surface1-dark);
    --color-surface2: var(--color-surface2-dark);
    --color-surface3: var(--color-surface3-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
    --color-red: var(--color-red-dark);
    --color-blue: var(--color-blue-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --color-primary: var(--color-primary-light);
  --color-text1: var(--color-text1-light);
  --color-text2: var(--color-text2-light);
  --color-surface1: var(--color-surface1-light);
  --color-surface2: var(--color-surface2-light);
  --color-surface3: var(--color-surface3-light);
  --color-surface4: var(--color-surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --color-red: var(--color-red-dark-light);
  --color-blue: var(--color-blue-light);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --color-primary: var(--color-primary-dark);
  --color-text1: var(--color-text1-dark);
  --color-text2: var(--color-text2-dark);
  --color-surface1: var(--color-surface1-dark);
  --color-surface2: var(--color-surface2-dark);
  --color-surface3: var(--color-surface3-dark);
  --color-surface4: var(--color-surface4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --color-red: var(--color-red-dark);
  --color-blue: var(--color-blue-dark);
}
